/*
*	2010.09.30 make by ahmax(ahmax95@gmail.com)
*	http://beans9.tistory.com
*/

.calTable{
	display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}

.calCss{
	font-size: 10pt;
	text-align: right;
	width:100%;	
	height: 80px;
	border-collapse: collapse;
	border-spacing: 0;
}

.dayEvMon{
	/* width:30px; */
	width:40px;
	margin-left: 2px;
	background-color: #FBFBFB;
	border:1px solid #CBC7BD;
	/* padding:2px 4px 0px 3px; */
	padding:2px 4px 0px 3px;
}		

.MonToday{
	background-color: #368CFE;
	border:1px solid #CBC7BD;
	font-weight:bold;
	padding:2px 4px 0px 3px;
	color:white;
}

.selMon{
	background-color: #CF4040;
	border:1px solid #CBC7BD;
	font-weight:bold;
	padding:2px 4px 0px 3px;
	text-decoration:underline;
	color:white;
}

.onDay{
	background-color: #006060;
	border:1px solid #4B22C0;	
	padding:2px 4px 0px 3px;
	cursor:pointer;
	color:white;	
}

.divBody{
	border:1px solid #DDDDDD;
	margin:1px;
	background-color:#ECEADF;
	width:177px; 
	position:absolute;
	display:none;
}

.divHead{
	height: 30px;
	border:1px solid #D4D1BF;
	background-color: #ffffff;	
}

.divHeadLeft{
	height: 30px;
	width:11%;
	/* padding-top:3px; */
	padding-top:5px;
	font-size:8pt;
	color:#CF4040;
	text-align:right;
	/* vertical-align:middle;	 */
	vertical-align:top;
	cursor:pointer;
}

.divHeadOnleft{
	height: 30px;
	width:11%;
	/* padding-top:3px; */
	padding-top:5px;
	font-size:8pt;
	color:#18CCA8;
	text-align:right;
	/* vertical-align:middle;	 */
	vertical-align:top;
	cursor:pointer;
}

.divHeadRigth{
	height: 30px;
	width:11%;
	/* padding-top:3px; */
	padding-top:5px;
	font-size:8pt;
	color:#CF4040;
	text-align:left;
	/* vertical-align:middle;	 */
	vertical-align:top;
	cursor:pointer;
}

.divHeadOnRigth{
	height: 30px;
	width:11%;
	/* padding-top:3px; */
	padding-top:5px;
	font-size:8pt;
	color:#18CCA8;
	text-align:left;
	/* vertical-align:middle;	 */
	vertical-align:top;
	cursor:pointer;
}

.divHeadCenter{
	height: 30px;
	/* padding-top:2px; */
	padding-top:3px;
	text-align:center;
	/* vertical-align:middle;	 */
	vertical-align:top;	
}
